* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #0f0f11;
    display: flex;
    font-family: 'Nunito', sans-serif;
}


.navigation-bar {
    min-width: 70px;
    max-width: 100px;
    width: 20%;
    padding-top: 50px;
    border-right: 1px solid #1c1c1c;
}

.twitter-icon {
    display: flex;
    justify-content: center;
}

.twitter-icon img {
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
}

.home-link {
    display: flex;
    justify-content: center;
    height: 40px;
    border-right: 3px solid #00adaa;
    align-items: center;
    margin-bottom: 20px;
}

.home-link img {
    height: 20px;
    width: 20px;

}

.profile-img {
    display: flex;
    justify-content: center;
}

.profile-img .profile{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid #979797;
    background-image: url("../Icons/profile_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    height: 100vh;
    min-width: 400px;
}

.main::-webkit-scrollbar {
    width: 1px;
    background-color: transparent;
}

.search-bar {
    height: 40px;
    margin: 50px 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(189, 189, 189);
}
.search-bar input {
    flex: 1;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 24px;
    padding: 0 10px;
}

.search-bar input:focus {
    outline: none;
}

.search-bar img {
    height: 30px;
    width: 30px;
    transform: rotateZ(90deg);
    margin-right: 10px;
    cursor: pointer;
}

.tweets-list {
    margin: 0px 10px 20px;
}

.twitter-sidebar {
    flex: 1;
    width: 100%;
}

.sidebar-container {
    max-width: 250px;
    min-width: 250px;
    background-color: white;
    height: 400px;
    padding: 10px;
    margin-top: 50px;
    border: 1px solid #979797;
    border-radius: 40px;
}

.sidebar-contents {
    min-height: 250px;
    border-radius: 40px;
    background-color: #f2f2f2;
    color: #a5a5a6;
    overflow: hidden;
}
.sidebar-contents h5 {
    padding: 20px;
    padding-bottom: 10px;
}

.sidebar-contents ul {
    list-style: none;
}

.sidebar-contents li {
    border-top: 1px solid #a5a5a6;
    padding: 10px;
    padding-left: 20px;
    font-size: 18px;
    cursor: pointer;
}