.tweets-container {
    border: 1px solid #1c1c1c;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px;
}

.tweets-user-info {
    margin: 10px 10px 0px 10px;
    display: flex;
    align-items: center;
    color: white;
}

.tweet-user-profile-image {
    height: 30px;
    width: 30px;
    background-color: white;
    border: 1px solid #979797;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tweet-user-name-container {
    margin-left: 8px;
}

.tweet-user-fullName {
    font-size: 10px;
}

.tweet-user-userName {
    font-size: 8px;
}

.tweets-contents {
    border: 1px solid #1c1c1c;
    height: 300px;
    border-radius: 20px;
    margin: 20px 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.tweet-image {
    background-image: url("https://images.unsplash.com/photo-1600679858910-711e3d80bf2d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 50%;
    flex-grow: 1;
}

.tweet-video {
    width: 100%;
    height: 100%;
}

.tweets-text {
    margin: 20px 10px 10px;
    font-size: 15px;
    color: white;
}

.tweet-date {
    margin:10px;
    color: #47525D;
    font-size: 10px
}